html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.stats {
  display: flex;
  width: 100%;
  justify-content: center;
}

.stats-item {
  padding: 6px 12px;
  background-color: white;
}

.is-hidden {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.photo-card {
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.photo-card img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.search-form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 3px;
  overflow: hidden;
}

.search-bar {
  display: flex;

  margin: 0 32px 15px 32px;
  padding-top: 15px;
  padding-bottom: 24px;
  background-color: blue;
}

img {
  display: block;
  margin: auto;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
